.Xresources
.bash_logout
.bash_profile
.bashrc
.bashrc_cat
.cache/
.cargo/
.config/BraveSoftware/
.config/Code - OSS/
.config/Code/
.config/GIMP/
.config/Proton/
.config/QtProject.conf
.config/Ryujinx/
.config/Thunar/
.config/alacritty/
.config/arkrc
.config/baloofileinformationrc
.config/bleachbit/
.config/btop/
.config/cava/
.config/crossnote/
.config/dconf/
.config/deluge/
.config/environment.d/
.config/eog/
.config/falkon/
.config/filetypesrc
.config/foot/
.config/garuda-rani/
.config/garuda/
.config/geany/
.config/gtk-2.0/
.config/gtk-4.0
.config/gum_implementation/
.config/heroic/
.config/htop/
.config/inkscape/
.config/jamesdsp/
.config/kanshi/
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kiorc
.config/kservicemenurc
.config/ktrashrc
.config/libreoffice/
.config/mako/
.config/micro/
.config/mimeapps.list
.config/modem-manager-gui/
.config/mozilla/
.config/mpv/
.config/nwg-displays/
.config/nwg-dock-hyprland/
.config/nwg-drawer/
.config/nwg-launchers/
.config/pacseek/
.config/parallel/
.config/pavucontrol.ini
.config/psd/
.config/pulse/
.config/ranger/
.config/rpcs3/
.config/session/
.config/starship.toml
.config/starship_cat.toml
.config/swappy/
.config/swaync/
.config/systemd/
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/uwsm/
.config/vim/
.config/vlc/
.config/waypaper/
.config/wofi/
.config/wpaperd/
.config/xdg-terminals.list
.config/xfce4/
.config/zsh/
.dircolors
.dotnet/
.gitconfig
.icons/
.local/bin/
.local/lib/
.local/share/Steam/
.local/share/Trash/
.local/share/applications/
.local/share/ark/
.local/share/arti/
.local/share/fastfetch/
.local/share/fish/
.local/share/flatpak/
.local/share/fonts/
.local/share/gvfs-metadata/
.local/share/hyprland/
.local/share/icons/
.local/share/kdenlive/
.local/share/keyrings/
.local/share/lutris/
.local/share/mcfly/
.local/share/mime/
.local/share/nwg-drawer/
.local/share/nwg-look/
.local/share/recently-used.xbel
.local/share/rofi/
.local/share/sddm/
.local/share/shadPS4/
.local/share/shadPS4QtLauncher/
.local/share/themes/
.local/share/umu/
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/share/vlc/
.local/share/vulkan/
.local/share/wallbash/
.local/share/waybar/
.local/state/
.oh-my-zsh/
.parallel/
.pki/
.profile
.pulse-cookie
.steam/
.steampath
.steampid
.themes/
.viminfo
.vscode-oss/
.vscode/
.wget-hsts
.wine/
.zshenv
Desktop/
Documents/
Downloads/
Pictures/
Public/
Templates/
Videos/
imgui.ini