*
!.config/ags
!.config/btop
!.config/fastfetch
!.config/gtk-3.0
!.config/gtk-4.0
!.config/hypr
!.config/kitty
!.config/Kvantum
!.config/qt5ct
!.config/qt6ct
!.config/swaync
!.config/Thunar
!.icons
!.style
!.themes