*
!*/
!.config/ags/**
!.config/btop**/**
!.config/fast**f**etch/**
!.config/gtk-3**.0/**
!.config/gtk-4.0/**
!.config/hypr/**
!.config/kitty**/**
!.config/Kvant**u**m/**
!.config/qt5ct/**
!.config/qt6ct/**
!.config/swaync**/**
!.config/Thunar**/**
!.icons/**
!.style/**
!.themes/**