$font-size: 14pt;
$font-name: Rubik;
$bg0: #161616;
$bg1: #282828;
$bg2: #363636;
$bg3: #484848;
$fg0: #ffffff;
$fg1: #c0c0c0;
$fg2: #808080;
$accent: #a09f9f;
$accent-light: lighten(#a09f9f, 10%);
$blue: #3584e4;
$blue-light: lighten(#3584e4, 10%);
$cyan: #2190a4;
$cyan-light: lighten(#2190a4, 10%);
$green: #3a944a;
$green-light: lighten(#3a944a, 10%);
$yellow: #c88800;
$yellow-light: lighten(#c88800, 10%);
$orange: #ed5b00;
$orange-light: lighten(#ed5b00, 10%);
$red: #e62d42;
$red-light: lighten(#e62d42, 10%);
$purple: #9141ac;
$purple-light: lighten(#9141ac, 10%);
$widget-radius: 8px;
$window-padding: 10px;
$window-radius: 20px;
$window-opacity: 1;
$window-border-width: 2px;
$window-border-color: $bg2;
$window-outline-width: 2px;
$window-outline-color: $fg1;
$window-shadow-offset: 0px 0px;
$window-shadow-blur: 10px;
$window-shadow-spread: 0px;
$window-shadow-color: black;
$window-shadow-opacity: 0.4;
$bar-position: top;
$bar-bg: transparent;
$bar-opacity: 0.5;
$bar-margin: 0px 0px 0px 0px;
$bar-margin-top: 0px;
$bar-margin-right: 0px;
$bar-margin-bottom: 0px;
$bar-margin-left: 0px;
$bar-padding: 6px;
$bar-border-width: 0px;
$bar-border-color: transparent;
$bar-separator-width: 2px;
$bar-separator-color: $bg2;
$bar-button-bg: $bg0;
$bar-button-bg-hover: $bg1;
$bar-button-bg-active: $bg2;
$bar-button-fg: $fg0;
$bar-button-border-width: 0px;
$bar-button-border-color: $bg2;
$bar-button-opacity: 1;
$bar-button-padding: 0px 8px;
$bar-shadow-offset: 0px 0px;
$bar-shadow-blur: 10px;
$bar-shadow-spread: 0px;
$bar-shadow-color: transparent;
$bar-shadow-opacity: 0.4;
$bar-vertical: false;
$bar-size: 20px;
$transition: 0.2s;
$shadow: true;