$font-size: 14pt;
$font-name: Rubik;
$bg0: #161616;
$bg1: #282828;
$bg2: #363636;
$bg3: #484848;
$fg0: #ffffff;
$fg1: #c0c0c0;
$fg2: #808080;
$accent: #8999a9;
$accent-light: lighten(#8999a9, 10%);
$blue: #3584e4;
$blue-light: lighten(#3584e4, 10%);
$cyan: #2190a4;
$cyan-light: lighten(#2190a4, 10%);
$green: #3a944a;
$green-light: lighten(#3a944a, 10%);
$yellow: #c88800;
$yellow-light: lighten(#c88800, 10%);
$orange: #ed5b00;
$orange-light: lighten(#ed5b00, 10%);
$red: #e62d42;
$red-light: lighten(#e62d42, 10%);
$purple: #9141ac;
$purple-light: lighten(#9141ac, 10%);
$widget-radius: 20px;
$window-padding: 10px;
$window-margin: 10px;
$window-radius: 20px;
$window-opacity: 1;
$window-border-width: 0px;
$window-border-color: transparent;
$window-outline-width: 2px;
$window-outline-color: $fg1;
$window-shadow-offset: 0px 0px;
$window-shadow-blur: 10px;
$window-shadow-spread: 0px;
$window-shadow-color: black;
$window-shadow-opacity: 0.4;
$transition: 0.2s;
$shadow: true;